<section id="iam-index-component" class="container-fluid">
  <header class="section-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h1 class="title">Manage your ERC725 identities</h1>
      </div>
      <div class="col-sm-6">
        <nav>
          <button class="btn btn-sm btn-primary">New identity group</button>
        </nav>
      </div>
    </div>
  </header>
  <section>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action active">Games</li>
            <li class="list-group-item list-group-item-action">Financial</li>
            <li class="list-group-item list-group-item-action">Legal</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <h6>Contract at</h6>
            <h5><a href="#">0x123abc...</a></h5>
            <h6>Description</h6>
            <h5>This is an identity I created to manage my transactions on game dApps</h5>
            <h6>Permissions...</h6>
            <h6>Smart Contracts...</h6>
            <h6>Transactions...</h6>
            <h6>Members...</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
